<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.onechance.acceptance">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
  <application android:label="One Chance acceptance harness" />
  <instrumentation android:name=".Acceptance" android:targetPackage="com.onechance.acceptance" />
</manifest>
